# python
__pycache__/
*.pyc
*.log

# do NOT upload wandb
**/wandb/**

# keep unsloth_compiled_cache (do NOT ignore it)

# do NOT upload big weights/ckpt files (but keep folders)
*.safetensors
*.bin
*.pt
*.pth
*.ckpt

# large archives / videos
*.zip
*.mp4
*.avi
*.mov

# secrets
.env
*.key
*.pem
